<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        FizzBuzz
    </title>

    <!-- Icon Link - https://fontmeme.com/permalink/200813/b82fbf5315c4a58a550e89e14d6df52c.png.
    Made by using FontMeme. Checkout the website - https://fontmeme.com/-->
    <link rel="icon" href="https://fontmeme.com/permalink/200813/b82fbf5315c4a58a550e89e14d6df52c.png" type="image/x-icon">

    <link rel="stylesheet" href="css/style.css">
</head>
<!-- style="background: url(/img/popcorn.jpg) no-repeat center center/cover" -->
<body id="home" >
    <div class="bg-image">
    </div>
    <header id="navigation">
        <nav class="navbar">
            <a href="/">
                <img class="logo" src="./img/fizzbuzz.png" alt="Logo">
            </a>
            <a href="/signin" id="signin">Sign In</a>
        </nav>
    </header>
    <div class="bg-text">
        <h1 class="large">Unlimited movies, TV shows and more.</h1>
        <h3 class="medium">Watch anywhere. Cancel anytime.</h3>
        <br>
        <br>
        <a class="btn" href="/signup">Get started</a>
    </div>
</body>
</html>