<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        FizzBuzz
    </title>

    <!-- Icon Link - https://fontmeme.com/permalink/200813/b82fbf5315c4a58a550e89e14d6df52c.png.
    Made by using FontMeme. Checkout the website - https://fontmeme.com/-->
    <link rel="icon" href="https://fontmeme.com/permalink/200813/b82fbf5315c4a58a550e89e14d6df52c.png" type="image/x-icon">

    <link rel="stylesheet" href="css/IndexStyleSheet.css">
</head>
<body>
    
    <header id="navigation">
      <nav class="navbar">
          
        <div>
            <a href="/index">
                <img class="logo" src="./img/fizzbuzz.png" alt="Logo">
            </a>
        </div>
            
        <div>
            <a href="/index" class="no-underline"  >
                <h2 style="color: #fcff00;" >Home</h2>
            </a>
  
        </div>
    
        <div>
            <a href="/movies" class="no-underline">
                <h2 class="nav-element" >Movies</h2>
            </a>
        </div> 

        <div>
            <a href="/tv" class="no-underline">
                <h2 class="nav-element"  >TV Shows</h2>
            </a>
        </div> 

        <div>
          <a href="/signout" class="no-underline">
              <h2 style="color: #fcff00;"  >Sign Out <%= username %></h2>
          </a>
        </div>
        
      </nav>

  </header>
  <!-- <br><br><br><br><br> -->

  <!-- <video autoplay controls>
    <source src="./trailers/tv/game_of_thrones.mp4"></source>
  </video> -->

  <!-- <div class="trailer-play-tv">
    
  </div> -->
  <div id="wrapper">
      <a href="#">
        <img src="./img/chhichhore-removebg-preview.png" width="300px" height="200px" alt="game of thrones">
      </a>
    <video class="play-trailer" playsinline autoplay muted loop>
        <source src="./vid/chhichhore.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="container">
    <img class="poster" src="./img/jersey.jpg" alt="jersey">
    <img class="poster" src="./img/joker.jpg" alt="joker">
    <img class="poster" src="./img/paper_boy.jpg" alt="paper_boy">
    <img class="poster" src="./img/war.jpg" alt="war">
    <img class="poster" src="./img/interstellar.jpg" alt="interstellar">
    <img class="poster" src="./img/friends.jpg" alt="friends">
    <img class="poster" src="./img/game_of_thrones.jpg" alt="game_of_thrones">
    <img class="poster" src="./img/locke_and_key.jpg" alt="locke_and_key">
    <img class="poster" src="./img/lost_in_space.jpg" alt="lost_in_space">
    <img class="poster" src="./img/lucifier.jpg" alt="lucifier">
  </div>
  <div class="container">
    <img class="poster" src="./img/dark_knight.jpg" alt="dark_knight">
    <img class="poster" src="./img/dear_comrade.jpg" alt="dear_comrade">
    <img class="poster" src="./img/dil_bechara.jpg" alt="dil_bechara">
    <img class="poster" src="./img/five_feet_apart.jpg" alt="five_feet_apart">
    <img class="poster" src="./img/gunjan_saxena.jpg" alt="gunjan_saxena">
    <img class="poster" src="./img/13_reasons_why.jpg" alt="13_reasons_why">
    <img class="poster" src="./img/black_mirror.jpg" alt="black_mirror">
    <img class="poster" src="./img/breaking_bad.jpg" alt="breaking_bad">
    <img class="poster" src="./img/cursed.jpg" alt="cursed">
    <img class="poster" src="./img/dark.jpg" alt="dark">
  </div>

  <!-- <div class="container">
    
    
  </div> -->
    

</body>
</html>