<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        FizzBuzz
    </title>

    <!-- Icon Link - https://fontmeme.com/permalink/200813/b82fbf5315c4a58a550e89e14d6df52c.png.
    Made by using FontMeme. Checkout the website - https://fontmeme.com/-->
    <link rel="icon" href="https://fontmeme.com/permalink/200813/b82fbf5315c4a58a550e89e14d6df52c.png" type="image/x-icon">

    <link rel="stylesheet" href="css/IndexStyleSheet.css">
</head>
<body>
    
    <header id="navigation">
      <nav class="navbar">
        <div>
            <a href="/index">
                <img class="logo" src="./img/fizzbuzz.png" alt="Logo">
            </a>
        </div>
        <div >
          <a href="/index" class="no-underline"  >
              <h2 class="nav-element" >Home</h2>
          </a>

      </div>
  
          <div>
              <a href="/movies" class="no-underline">
                  <h2 style="color: #fcff00;" >Movies</h2>
              </a>
          </div> 

          <div >
              <a href="/tv" class="no-underline">
                  <h2  class="nav-element" >TV Shows</h2>
              </a>
          </div> 

          <div>
            <a href="/signout" class="no-underline">
                <h2 style="color: #fcff00;"  >Sign Out <%= username %></h2>
            </a>
          </div>
      </nav>
  </header>
  <!-- <br><br><br><br><br> -->

  <div id="wrapper">
    <a href="#">
      <img src="./img/KGF-LinksInd-removebg-preview.png" width="300px" height="150px" alt="game of thrones">
    </a>
  <video class="play-trailer" playsinline autoplay muted loop>
      <source src="./vid/kgf.mp4" type="video/mp4" />
  </video>
</div>

  <div class="container">
    <img class="poster" src="./img/agent_sai_sreenivasa_athreya.jpg" alt="agent_sai_sreenivasa_athreya">
    <img class="poster" src="./img/ala_vaikuntapuramlo.jpg" alt="ala_vaikuntapuramlo">
    <img class="poster" src="./img/annabelle.jpg" alt="annabelle">
    <img class="poster" src="./img/avengers_endgame.jpeg" alt="avengers_endgame">
    <img class="poster" src="./img/avengers_infinity_war.jpg" alt="avengers_infinity_war">
    <img class="poster" src="./img/bahubali_the_beginning.jpg" alt="bahubali_the_beginning">
    <img  class="poster" src="./img/bahubali_the_conclusion.jpg" alt="bahubali_the_conclusion">
    <img class="poster" src="./img/brochevarevarura.jpg" alt="brochevarevarura">
    <img class="poster" src="./img/chhichhore.jpg" alt="chhichhore">
    <img class="poster" src="./img/co_kancherapalem.jpg" alt="co_kancherapalem">
    
    
  </div>
  <div class="container">
    <img class="poster" src="./img/dark_knight.jpg" alt="dark_knight">
    <img class="poster" src="./img/dear_comrade.jpg" alt="dear_comrade">
    <img class="poster" src="./img/dil_bechara.jpg" alt="dil_bechara">
    <img class="poster" src="./img/five_feet_apart.jpg" alt="five_feet_apart">
    <img class="poster" src="./img/gunjan_saxena.jpg" alt="gunjan_saxena">
    <img class="poster" src="./img/jersey.jpg" alt="jersey">
    <img class="poster" src="./img/joker.jpg" alt="joker">
    <!-- <img class="poster" src="./img/kgf.jpg" alt="kgf"> -->
    <img class="poster" src="./img/paper_boy.jpg" alt="paper_boy">
    <img class="poster" src="./img/war.jpg" alt="war">
    <img class="poster" src="./img/interstellar.jpg" alt="interstellar">
    
  </div>

  <!-- <div class="container">
    
  </div> -->

  
  
</body>
</html>